{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% comment %} <script src="{% static 'js/main.js' %}" defer></script> {% endcomment %}
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            {% if user.is_authenticated %}
            <a href="{% url 'posts_list' %}">All Posts</a>
            <a href="{% url 'post_new' %}">New Post</a>
            <form action="{% url 'logout_user' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'login_user' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <h5>This site is proudly maintened by @web dev Kmer - 2024</h5>
    </footer>
</body>
</html>